@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MiLayout.cshtml";
}
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Ayuda a tu causa</div>
            <div class="intro-heading">empeza a donar</div>
        </div>
    </div>
</header>